<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
    <title>Login</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="container">
        <div class="row">
            <div th:if="${welcomemsg}">
                <div class="alert alert-info">
                    <div th:text="${welcomemsg}"></div> <a href="/index/">Return back to homepage.</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>