<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="media my-4">
                    <div th:id="${randPost.getPostId()}" class="upvotejs">
                        <a class="upvote"></a>
                        <a class="downvote"></a>
                    </div>
                    <div class="media-body">
                        <span th:text="${randPost.getTitle()}"class="mt-0 mb-1 post-title"></span>
                        <th:block th:if="${randPost.getScore()>0}">
                            <span th:text="${randPost.getScore()}" class="badge badge-success"></span>
                        </th:block>
                        <th:block th:if="${randPost.getScore() == 0}">
                            <span th:text="${randPost.getScore()}" class="badge badge-secondary"></span>
                        </th:block>
                        <th:block th:if="${randPost.getScore()<0}">
                            <span th:text="${randPost.getScore()}" class="badge badge-danger"></span>
                        </th:block>
                        <h5 style="white-space: pre-wrap;" th:text="${randPost.getContent()}"></h5>
                        <br><h5 style="text-align:right">Posted by: <span th:text="${randPost.getAuthor().getUsername()}"></span></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 small-sized">
                <span sec:authorize="isAuthenticated()">
                    <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Hello, <span style="color: green" sec:authentication="name"></span></h5>
                      <h6 class="card-subtitle mb-2 text-muted"><a href="/logout">Logout</a></h6>
                      <br>
                      <p class="card-text">Photo</p>
                      <a href="#" class="card-link ajax-post-create">Add post</a>
                      <a href="#" class="card-link">Edit account</a>
                    </div>
                  </div>
                </span>
                <span sec:authorize="!isAuthenticated()">
                <form th:action="@{/login}" method="post">
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Login or/and password are incorrect.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You are logged out. We will be glad to see you again.
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label col-form-label-sm" for="login">Login</label>
                        <input type="text" id="login" name="username" class="form-control form-control-sm" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label col-form-label-sm" for="password">Password</label>
                        <input type="password" name="password" class="form-control form-control-sm" id="password">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="remember-me-check" name="remember-me">
                        <label class="form-check-label" for="remember-me-check">
                            Remember me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button> <a href=/register>Create an account!</a>
                </form>
                </span>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-8">
                <ul class="list-unstyled">
                    <th:block th:each="element : ${posts}">
                    <li class="media my-4">
                        <div th:id="${element.key.getPostId()}" class="upvotejs">
                            <a class="upvote"></a>
                            <a class="downvote"></a>
                        </div>
                        <div th:id="${element.key.getPostId()}" class="media-body">
                                <span th:text="${element.key.getTitle()}"class="mt-0 mb-1 post-title"></span>
                            <th:block th:if="${element.value>0}">
                                <span th:text="${element.key.getScore()}" class="badge badge-success"></span>
                            </th:block>
                            <th:block th:if="${element.value == 0}">
                                <span th:text="${element.key.getScore()}" class="badge badge-secondary"></span>
                            </th:block>
                            <th:block th:if="${element.value<0}">
                                <span th:text="${element.key.getScore()}" class="badge badge-danger"></span>
                            </th:block>
                            <th:block th:if="${element.key.getAuthor().getUsername() == username }">
                                <i class="fa fa-trash ajax-post-delete" aria-hidden="true"></i>
                                <i class="far fa-edit ajax-post-edit"></i>
                            </th:block>
                            <h5 style="white-space: pre-wrap;" th:text="${element.key.getContent()}"></h5>
                            <br><h5 style="text-align:right">Posted by: <span th:text="${element.key.getAuthor().getUsername()}"></span></h5>
                        </div>
                    </li>
                    <hr>
                    </th:block>
                </ul>
            </div>
            <span sec:authorize="isAuthenticated()">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <small>Last 5 votes</small>
                    </div>
                    <ul class="list-group list-group-flush">
                        <th:block th:each="last : ${topvoted}">
                            <li th:text=" 'Title: '+ ${last.getPost().getTitle()} + ' | Score: ' + ${last.getPost().getScore()}" class="list-group-item"></li>
                        </th:block>
                    </ul>
                </div>
            </div>
            </span>
        </div>
    </div>
</div>
</div>
</body>
</html>